/*
  Mijn stijl
/*
    Created on : 16 apr. 2020, 12:31:39
    Author     : jvanbiervliet
*/

/* KLEUREN */

/* blauw */
$donker-blauw: #004854;
$mid-blauw: #00879B;
$licht-blauw: #28AAC5;

/* rood */
$donker-rood: #70364D;
$mid-rood: #B3636B;
$licht-rood: #F28F87;

/* groen */
$donker-groen: #00574F;
$mid-groen: #308A73;
$licht-groen: #73BF9C;

/* bruin */
$donker-bruin: #7D3B1A;
$mid-bruin: #CC6E3B;
$licht-bruin: #F7AB4D;

/* Modules*/
@media all and (min-width: 768px) {
  ul.navbar-nav {
    margin-bottom: 5px;
  }

  .menu--main {
    .navbar-nav > li > a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.achtergrond-afbeelding {
  /*background-image: url('../images/ETION_HEADER.jpg');  
  background-color: $donker-blauw;*/
  width: 100%;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(to right, $donker-blauw , $licht-blauw);
}

.witte-letters {
  color: white !important;
  font-weight: bold !important;
}


/* Theme */
$achtergrond-kleur: #FCF2E8;
$font-kleur-main: #322B2B;


@font-face {
  font-family: mainFont;
  src: url(../fonts/Gen-Light.otf);
}

.navbar-default {
  .navbar-brand,
  .navbar-nav > li > a {
    color:white;
  }
}


/* Base */
$footer-hoogte: 100px;

html, body {
  font-family: mainFont;
  color: $font-kleur-main;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-hoogte;
  background-color: #f5f5f5;
}

/* Layout */
.verwijder-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1200px) {
  .container{
    max-width: 960px;
  }
}

body {
  background-color: $achtergrond-kleur;
  margin-top: 0;
}

#footer {
  background-color: $licht-blauw;
}
