/*
  Mijn stijl
/*
    Created on : 16 apr. 2020, 12:31:39
    Author     : jvanbiervliet
*/

@font-face {
  font-family: mainFont;
  src: url(../fonts/Gen-Light.otf);
}

$font_kleur_main: #322B2B;
$achtergrond_kleur: #2B0707;
$kleur_horizontale_rand: #A2A2A2;

html, body {
  font-family: mainFont;
  color: $font_kleur_main;
}

html {
  background-color: $achtergrond_kleur;
}

@media (min-width: 1200px) {
  .container{
    max-width: 960px;
  }
}

@media all and (min-width: 768px) {
  ul.navbar-nav {
    margin-bottom: 5px;
  }

  .menu--main .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
  }
}
